@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
     font-family: "Noto Sans KR", sans-serif;
}
.master_area {
     width: 100%;
     max-width: 1230px;
     padding: 0 15px;
     margin: auto;
}
