.header_area_pc {
     height: 90px;
     background: #fff;
     position: fixed;
     width: 100%;
     box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.header_area_mobile {
     height: 60px;
     background: #fff;
     position: fixed;
     width: 100%;
     box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.logo_area {
     width: 90px !important ;
     padding-top: 15px;
}
.ham_icon {
     width: 30px;
}
.logo_size {
     width: 87px;
}
.logo_size_mo {
     width: 70px;
     margin-top: 7px;
}
.h_img_size {
     width: 20px;
}
.menu_right_area {
     width: 300px !important ;
     font-size: 16px;
     padding-top: 30px;
     text-align: right;
     color: #999;
}
.menu_right_area a {
     color: #999;
}
.name_color {
     color: #1564c0;
}
.mypage_bt {
     color: #1564c0;
     border: 1px solid #1564c0;
     padding: 2px 10px;
     background: #fff;
}
.menu_center_area {
     padding-top: 30px;
     font-size: 18px;
}
.he90 {
     height: 90px;
}
.he60 {
     height: 60px;
}

.mobile_menu_area {
     width: 300px;
     height: 100vh;
     background: #fff;
     position: fixed;
     left: -300px;
     top: 0;
     z-index: 10;
     transform: all 0.5;
}
.move {
     left: 0;
}
.mobile_menu_bg {
     opacity: 0.8;
     background: #000;
     position: fixed;
     left: 0;
     top: 0;
     z-index: 5;
     width: 100vw;
     height: 100vh;
}

/*###################### 반응형 구간 ######################*/
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
